In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Petrokamenskoye,RU,2021-01-30 20:34:12,57.7160,60.6484,1.35,94,100,3.13
1,1,Gondanglegi,ID,2021-01-30 20:34:12,-7.7479,112.0132,72.81,92,100,2.28
2,2,Tautira,PF,2021-01-30 20:34:12,-17.7333,-149.1500,86.00,66,75,14.97
3,3,Busselton,AU,2021-01-30 20:33:20,-33.6500,115.3333,63.00,76,0,4.00
4,4,Rikitea,PF,2021-01-30 20:30:46,-23.1203,-134.9692,78.78,76,2,13.06

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Tautira,PF,2021-01-30 20:34:12,-17.7333,-149.1500,86.00,66,75,14.97
4,4,Rikitea,PF,2021-01-30 20:30:46,-23.1203,-134.9692,78.78,76,2,13.06
7,7,Avarua,CK,2021-01-30 20:34:13,-21.2078,-159.7750,84.20,70,20,3.44
8,8,Butaritari,KI,2021-01-30 20:34:13,3.0707,172.7902,81.12,77,100,16.96
13,13,Labuhan,ID,2021-01-30 20:34:14,-6.8844,112.2051,76.98,87,95,7.70
18,18,Bambous Virieux,MU,2021-01-30 20:34:14,-20.3428,57.7575,78.80,89,75,8.05
20,20,Hilo,US,2021-01-30 20:34:15,19.7297,-155.0900,75.20,73,20,4.61
21,21,Padang,ID,2021-01-30 20:31:35,-0.9492,100.3543,76.50,77,100,4.90
23,23,Samarai,PG,2021-01-30 20:34:16,-10.6167,150.6667,82.76,76,100,18.81
25,25,Meulaboh,ID,2021-01-30 20:32:03,4.1363,96.1285,75.24,85,62,4.54

In [12]:
preferred_cities_df.count()

City_ID       140
City          140
Country       140
Date          140
Lat           140
Lng           140
Max Temp      140
Humidity      140
Cloudiness    140
Wind Speed    140
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2           Tautira      PF     86.00 -17.7333 -149.1500
4           Rikitea      PF     78.78 -23.1203 -134.9692
7            Avarua      CK     84.20 -21.2078 -159.7750
8        Butaritari      KI     81.12   3.0707  172.7902
13          Labuhan      ID     76.98  -6.8844  112.2051
18  Bambous Virieux      MU     78.80 -20.3428   57.7575
20             Hilo      US     75.20  19.7297 -155.0900
21           Padang      ID     76.50  -0.9492  100.3543
23          Samarai      PG     82.76 -10.6167  150.6667
25         Meulaboh      ID     75.24   4.1363   96.1285

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Tautira,PF,86.00,-17.7333,-149.1500,Pension Oaoa
4,Rikitea,PF,78.78,-23.1203,-134.9692,Pension Maro'i
7,Avarua,CK,84.20,-21.2078,-159.7750,Paradise Inn
8,Butaritari,KI,81.12,3.0707,172.7902,Isles Sunset Lodge
13,Labuhan,ID,76.98,-6.8844,112.2051,PT PPI Lamongan Tambak C
18,Bambous Virieux,MU,78.80,-20.3428,57.7575,Casa Tia Villa
20,Hilo,US,75.20,19.7297,-155.0900,Hilo Hawaiian Hotel
21,Padang,ID,76.50,-0.9492,100.3543,Mercure Padang
23,Samarai,PG,82.76,-10.6167,150.6667,Nuli Sapi
25,Meulaboh,ID,75.24,4.1363,96.1285,Kost Pria

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))